{% extends 'base.html' %}

{% block content %}
        <div id="fullCalendar">
            <div class="mois" id="mois1">
                <div id="previous">
                </div>
                <h2>Aout 2015</h2>
                <div class="semaine" id="semaine1">
                    <div class="jour integration">
                        <span class="numberDay">1</span>
                        <p class="moduleInte"><i class="fa fa-book"></i> <span class="level easy"></span> Intro au HTML et CSS</p>
                        <p><i class="fa fa-pencil"></i> <span class="level easy"></span> Exo "Hello Word"</p>
                        <ul>
                            <li>Créer une première page HTML</li>
                            <li>L'indentation, la coloration syntaxique</li>
                        </ul>
                    </div>
                    <div class="jour integration">
                        <span class="numberDay">2</span>
                        <p class="moduleInte moduleStart"><i class="fa fa-book"></i> <span class="level easy"></span> Typographie - Partie 1</p>
                        <p><i class="fa fa-pencil"></i> <span class="level easy"></span> Modèle de boite</p>
                        <ul>
                            <li>Créer une première page HTML</li>
                            <li>L'indentation, la coloration syntaxique</li>
                        </ul>
                    </div>
                    <div class="jour integration">
                        <span class="numberDay">3</span>
                        <p class="moduleInte moduleMiddle"><i class="fa fa-book"></i> <span class="level easy"></span> Background</p>
                        <p><i class="fa fa-pencil"></i> <span class="level easy"></span> Modèle de boite</p>
                        <ul>
                            <li>Créer une première page HTML</li>
                            <li>L'indentation, la coloration syntaxique</li>
                        </ul>
                    </div>
                    <div class="jour integration">
                        <span class="numberDay">4</span>
                        <p class="moduleInte moduleEnd"><i class="fa fa-book"></i> <span class="level easy"></span> Background</p>
                        <p><i class="fa fa-pencil"></i> <span class="level easy"></span> Modèle de boite</p>
                        <ul>
                            <li>Créer une première page HTML</li>
                            <li>L'indentation, la coloration syntaxique</li>
                        </ul>
                    </div>
                    <div class="jour todayDev developpement">
                        <span class="numberDay">5</span>
                        <p class="moduleDev moduleStart"><i class="fa fa-book"></i> <span class="level easy"></span> Les variables</p>
                        <p><i class="fa fa-code"></i> <span class="level easy"></span> Module Pouet pouet</p>
                        <ul>
                            <li>Créer une première page HTML</li>
                            <li>L'indentation, la coloration syntaxique</li>
                        </ul>
                    </div>
                </div><!--
                --><div class="semaine" id="semaine2">
                    <div class="jour developpement">
                        <span class="numberDay">8</span>
                        <p class="moduleDev moduleMiddle"><i class="fa fa-book"></i> Module Variables</p>
                        <p>Module Pouet pouet</p>
                    </div>
                    <div class="jour developpement">
                        <span class="numberDay">9</span>
                        <p class="moduleDev moduleEnd"><i class="fa fa-book"></i> Module Variables</p>
                        <p>Module Pouet pouet</p>
                    </div>
                    <div class="jour integration">
                        <span class="numberDay">10</span>
                        <p class="moduleInte moduleStart"><i class="fa fa-book"></i> <span class="level easy"></span> Module Background</p>
                        <p><i class="fa fa-pencil"></i> <span class="level easy"></span> Module Modèle de boite (Basique)</p>
                    </div>
                    <div class="jour integration">
                        <span class="numberDay">11</span>
                        <p class="moduleInte moduleEnd"><i class="fa fa-book"></i> <span class="level easy"></span> Module Background</p>
                        <p><i class="fa fa-pencil"></i> <span class="level medium"></span> Module Modèle de boite (Basique)</p>
                        <p class="QCM"><i class="fa fa-graduation-cap"></i> <span class="level medium"></span> QCM : background</p>
                    </div>
                    <div class="jour developpement">
                        <span class="numberDay">12</span>
                        <p>Test</p>
                    </div>
                </div><!--
                --><div class="semaine" id="semaine3">
                    <div class="jour integration">
                        <span class="numberDay">15</span>
                        <p class="moduleInte moduleStart"><i class="fa fa-book"></i> <span class="level medium"></span> Module Background</p>
                        <p><i class="fa fa-pencil"></i> <span class="level medium"></span> Module Modèle de boite (Basique)</p>
                    </div>
                    <div class="jour today integration">
                        <span class="numberDay">16</span>
                        <p class="moduleInte moduleEnd"><i class="fa fa-book"></i> <span class="level medium"></span> Module Background</p>
                        <p><i class="fa fa-pencil"></i> <span class="level medium"></span> Module Modèle de boite (Basique)</p>
                    </div>
                    <div class="jour developpement">
                        <span class="numberDay">17</span>
                        <p>Test</p>
                    </div>
                    <div class="jour integration">
                        <span class="numberDay">18</span>
                        <p class="moduleInte moduleMiddle"><i class="fa fa-book"></i> <span class="level hard"></span> Module Background</p>
                        <p><i class="fa fa-pencil"></i> <span class="level medium"></span> Module Modèle de boite (Basique)</p>
                    </div>
                    <div class="jour developpement">
                        <span class="numberDay">19</span>
                        <p>Test</p>
                    </div>
                </div><!--
                --><div class="semaine" id="semaine4">
                    <div class="jour integration">
                        <span class="numberDay">22</span>
                        <p class="moduleInte moduleMiddle"><i class="fa fa-book"></i> <span class="level hard"></span> Module Background</p>
                        <p><i class="fa fa-pencil"></i> <span class="level hard"></span> Module Modèle de boite (Basique)</p>
                    </div>
                    <div class="jour integration">
                        <span class="numberDay">23</span>
                        <p class="moduleInte moduleMiddle"><i class="fa fa-book"></i> <span class="level hard"></span> Module Background</p>
                        <p><i class="fa fa-pencil"></i> <span class="level hard"></span> Module Modèle de boite (Basique)</p>
                    </div>
                    <div class="jour developpement">
                        <span class="numberDay">24</span>
                        <p>Test</p>
                    </div>
                    <div class="jour developpement">
                        <span class="numberDay">25</span>
                        <p>Test</p>
                    </div>
                    <div class="jour developpement">
                        <span class="numberDay">26</span>
                        <p>Test</p>
                    </div>
                </div>
                <div id="next">
                </div>
            </div>
        </div>
{% endblock %}
