{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">    
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Plateforme d’apprentissage</title>
</head>
<body>
    <header>
        <nav id="menu">
            <a href="index.html" id="logo"><img src="{% static 'img/logos/big.png' %}" alt="Logo"></a>
            <a href="dashboard.html"><i class="fa fa-tachometer"></i>Dashboard</a>
            <a href="modules.html"><i class="fa fa-book"></i>Modules</a>
            <!--<a href="messagerie.html"><i class="fa fa-envelope"></i> - Messagerie</a>-->
            <a href="calendar.html"><i class="fa fa-calendar"></i>Calendrier</a>
            <a href="forum.html"><i class="fa fa-users"></i>Forum</a>
            {% if user.is_authenticated %}
            <a href="profil.html" class="right">{{ user }} 
                {% if user.member.avatar %}
                    <img src="{{ user.member.avatar.url }}" alt="photo de {{ user }}"></a>
                {% else %}
                    <img src="{% static 'img/avatar.jpg' %}" alt="photo de {{ user }}"></a>
                {% endif %}
            {% endif %}
        </nav>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
</body>
</html>

